.error {
    position: absolute;
    font-size: 9px;
    color: red;
    bottom: 15px;
    right: 15%;
    bottom: -9px;
    margin: 0;
    text-align: center;

    li {
        width: 150px;
        margin: 0;
        padding: 0;
    }
}