.root {
    border-radius: 15px;
    padding: 10px 30px 30px;
    background: var(--background-color-App);
    height: 430px;
    transition: all 1s ease-in-out;
    border: 3px solid var(--text-color);
    margin: 0 auto;
    z-index: 2;

}

.bk {
    position: fixed;
    z-index: 0;
}

.btnHome {

    position: absolute;
    bottom: -50px;
    transform: translate(-50%, 50%);
}

.formContainer {
    transition: all 1s ease-in-out;
}

.btnContainer {
    display: flex;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;

    button {
        transition: all 0.2s ease-in-out;
        width: 50%;
        height: 7px;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        background: var(--text-color-brown);
        border: none;
        opacity: 0.5;

        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }

        &:hover {
            opacity: 1;
        }
    }

    .btnActive {
        opacity: 1;
    }
}