.comment {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 15px 45px 0px rgba(0, 0, 0, .1);
    border-radius: 10px;



    span {
        color: var(--text-color-brown);
        ;
        font-weight: 300;
    }

    form {}

    .textContainer {
        position: relative;

        button {
            position: absolute;
            background: transparent;
            border: none;
            cursor: pointer;
            right: 0;
            top: 10px;
            transform: translate(20%, -4%);
        }
    }

    .textarea {
        background-color: var(--background-color-content);
        color: var(--text-color);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        resize: none;
        font-size: 14px;
        border: none;
        border-bottom: 2px solid var(--text-color);
        outline: none;
        margin-bottom: 10px;
        padding-right: 35px;

    }
}


.NoAuth {
    padding: 20px;
    font-size: 16px;
    text-align: center;
}