.root {
    margin: 0;
    background-color: var(--background-color-App);
    color: var(--text-color-brown);

    .header {
        display: flex;
        height: 80px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 20px;



        .navbar {
            display: flex;

            li {
                margin-right: 10px;
                font-size: 18px;

                font-weight: 300;
                cursor: pointer;
                box-sizing: border-box;

                a {
                    padding: 10px 10px;
                    color: var(--text-color-brown);

                    &:hover {}
                }
            }

        }
    }

    .homeIconContainer {
        position: relative;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        span:first-child {
            padding-right: 18px;

            @media(max-width:750px) {
                display: none;
            }

        }

        span:last-child {
            position: absolute;
            top: 5px;
            right: -5px;

        }
    }

    .searchContainer {
        position: relative;
        padding: 2px 0 0 0;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        @media(max-width:650px) {
            display: none;
        }


        span:first-child {
            padding-right: 22px;
        }

        .searchSvg {
            transition: all 1s ease-in-out;
            position: absolute;
            top: -2px;
            right: -10px;
        }

        .search {
            border: none;
            border-radius: 0;
            background: transparent;
            position: absolute;
            left: 70px;
            top: -8px;
            display: block;
            width: 200px;
            transition: all 0.3s ease-in;
            border-bottom: 1px solid var(--text-color);

            animation-name: search;
            animation-duration: 1s;


            &:hover,
            &:active,
            &:focus {
                outline: none;
            }

            @keyframes search {
                0% {
                    opacity: 0.2;
                    left: -130px;
                    margin-left: 0px;
                }

                30% {
                    opacity: 0.6;
                    left: 110%;
                }

                100% {
                    opacity: 1;
                    left: 70px;
                }
            }
        }
    }

}

.searchMobile {
    display: none;

    @media(max-width:650px) {
        display: block;
        padding: 10px 20px 20px;
        border-top: 1px solid var(--text-color-brown);

        .searchContainer {
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
            display: block;
            width: 80px;
        }
    }
}