.update,
.remove {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.remove {
    svg {
        fill: var(--text-color);
    }



}

.viewsSvg {
    width: 30px;
    height: 30px;

    svg {
        fill: var(--text-color);
    }
}

.comments {
    width: 30px;
    height: 30px;

    svg {
        fill: var(--text-color);
    }
}

.update {
    svg {
        stroke: var(--text-color);
    }
}

.exitSvg {
    position: absolute;
    right: 0;
    top: -1px;

    svg {
        width: 25px;
        height: 25px;

    }
}

.SendSvg {

    opacity: 0.7;
    z-index: 2;
    cursor: pointer;

    &:hover {
        opacity: 1;

    }



    svg {
        width: 65px;
        height: 65px;
        fill: var(--text-color-brown);

        &:active {
            width: 67px;
            height: 67px;
        }
    }
}

.arrow {
    width: 35px;
    height: 35px;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;



    svg {
        fill: var(--text-color);

    }
}